@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Orbitron:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1 {
  background-color: yellow;
  font-size: 64px;
}

// font: inerhit -> Inherit current parents font properties
button,
input,
textarea,
select {
  font: inherit;
}

// overflow-wrap: break-word -> Stop over-flow of words if there isn't enough space.
p,
h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
}

// max-width: 100% -> These elements will not take space more than this.
img,
video,
canvas,
svg {
  max-width: 100%;
}
